<!doctype html>

{% extends 'bootstrap/base.html' %}


{% block title %}
      {% if title %}
      {{ title }} - Signalship
      {% else %}
      Welcome to Signalship
      {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Signalship</a>

               <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('signal_generator') }}">Signal generator</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="{{ url_for('login') }}">Login</a></li>
                </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        {% block app_content %}{% endblock %}


    </div>
{% endblock %}
