<!doctype html>

{% extends 'bootstrap/base.html' %}


{% block title %}
      {% if title %}
      {{ title }} - Signalship
      {% else %}
      Welcome to Signalship
      {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div>Signalship:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signal_generator') }}">Signal generator</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        {% block app_content %}{% endblock %}


    </div>
{% endblock %}
